$navBar-size-height: 5.69rem;
$navBar-size-width : 7.3rem;

$primary    : #FF0101;
$primary-alt: #E60000;
$secondary  : #9B9EAC;
$light      : #fff;
$light-alt  : #fbfbfb;
$dark       : #282D30;
$darker     : #020203;