@import "../../styles/variables";

.home {
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  .homeContainer {
    // background-color: lightblue;
    width: calc(100% - 13.375rem);
    height: calc(100% - 8.5rem);
    display: grid;
    grid-template-areas: "containerHeading containerHeading containerHeading containerHeading" "chartsContainer chartsContainer chartsContainer aside" "chartsContainer chartsContainer chartsContainer aside";
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .chartsContainer {
      grid-area: chartsContainer;
      display: grid;
      grid-template-areas: "daily daily daily" "session spiderWeb score";

      .daily {
        grid-area: daily;
      }
      .session {
        grid-area: session;
        background-color: red;
      }
      .spiderWeb {
        background-color: grey;
        grid-area: spiderWeb;
      }
      .score {
        grid-area: score;
      }
    }
    .aside {
      grid-area: aside;
    }
  }
}