@import "../../styles/variables";

.home {
  background-color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  .homeContainer {
    width: calc(100% - 12.5rem);
    height: calc(100% - 9rem);
    margin-top: -2.5rem;
    margin-right: -1.25rem;
    display: grid;
    column-gap: 1.875rem;
    row-gap: 3.5rem;
    grid-template-areas: "containerHeading containerHeading containerHeading containerHeading" "chartsContainer chartsContainer chartsContainer aside" "chartsContainer chartsContainer chartsContainer aside";
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    .containerHeading {
      grid-area: containerHeading;
      p {
        &:first-child {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 500;
      }
      }
      span {
        color: $primary;
      }
    }
    .spinnerContainer {
      width: 100%;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .loadingSpinner {
        width: 20rem;
        height: 20rem;
        border: 10px solid #f3f3f3;
        border-top: 10px solid $primary;
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
      }
    }
    .chartsContainer {
      grid-area: chartsContainer;
      display: grid;
      grid-template-rows: 1fr 16.5rem;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 1.875rem;
      row-gap: 2rem;
      grid-template-areas: "activityChart activityChart activityChart" "sessionChart performanceChart scoreChart";
      .activityChart {
        grid-area: activityChart;
      }
      .sessionChart {
        grid-area: sessionChart;
      }
      .performanceChart {
        grid-area: performanceChart;
      }
      .scoreChart {
        grid-area: scoreChart;
      }
    }
    .asideContent {
      grid-area: aside;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .infosCardContainer {
        width: 100%;
        height: 7.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $light-alt;
        padding: 0 2rem;
        box-sizing: border-box;
        .infosCardImgContainer {
          width: 3.75rem;
          height: 3.75rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .caloriesImg {
          background-color: pink;
        }
        .proteinsImg {
          background-color: blue;
        }
        .carbsImg {
          background-color: yellow;
        }
        .fatsImg {
          background-color: orange;
        }
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}